.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header h1 {
  font-size: 45px;
}

@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }

  .a5-size-print {
    width: 793px;
    height: 559px;
  }
}
